body, table td {
    color: #000000;
}

.btn-table-action {
    width: 120px;
}

.webgrid-editColumn, .webgrid-copyColumn, .webgrid-deleteColumn {
    /*width: 50px;*/
}

.card {
    border-color: #acaaaa;
}

.card-body label {
    font-weight: bold;
}

.card-validation .card-body {
    padding: 0px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 2px solid #b94a48;
}


select.input-validation-error {
    border: 2px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#accountBalanceCircleChart, #balanceAndInvestmentCircleChart {
    height: 380px;
}

.investment-account-table-column-price, .investment-account-table-column-total {
    width: 150px;
}


@media screen and (max-width: 768px) {
    table.table {
        border: 0;
        margin-bottom: 0;
    }

        table.table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table.table tr {
            border: 1px solid #d3d2d2;
            display: block;
            margin-bottom: .6em;
        }

            table.table tr:last-child {
                margin-bottom: 0;
            }

        table.table td {
            border-bottom: 0;
            display: block;
            text-align: right;
            padding: .4rem;
        }

            table.table td::before {
                content: attr(data-label);
                float: left;
                font-style: italic;
                font-size: .8rem;
            }

            table.table td:last-child {
                border-bottom: 0;
            }
}
