body, table td {
    color: #000000;
}

.progress {
    background-color: #e9ecef;
}

.pull-right {
    float: right;
}

.btn-table-action {
    width: 120px;
}

.webgrid-editColumn, .webgrid-copyColumn, .webgrid-deleteColumn {
    /*width: 50px;*/
}

.modal-header {
    background-color: #e3e6f0;
}

.card {
    border-color: #acaaaa;
}

.card-body label {
    font-weight: bold;
}

.card-validation .card-body {
    padding: 0px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 2px solid #b94a48;
}


select.input-validation-error {
    border: 2px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#accountBalanceCircleChart, #balanceAndInvestmentCircleChart {
    height: 380px;
}

.investment-account-table-column-price, .investment-account-table-column-total {
    width: 150px;
}

.stock-position-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.account-messages-trigger {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.triangle-red {
    color: rgb(221, 86, 86);
    display: inline-block;
}

.triangle-green {
    color: rgb(34, 160, 83);
    display: inline-block;
}

.icon__fill {
    fill: currentColor;
}

.table-instruments {
    text-align: left;
    font-weight: 400;
    width: 100%;
}

.table-instruments-row a {
    display: inline;
    outline: 0;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: 0;
    background: 0 0;
    font: inherit;
    text-decoration: none;
    cursor: pointer;
    text-align: inherit;
    text-transform: inherit;
}

.table-instruments-row:hover {
    background-color: rgba(0,0,0,.05);
}

.table-instruments-column {
    height: 56px;
    padding: 12px;
    border-bottom: 1px solid #e7e8ea;
}

.table-instruments-info {
    color: #333;
    display: flex;
    align-items: center;
}

.table-instruments-info-avatar {
    width: 48px;
    height: 48px;
}

.table-instruments-info-details {
    margin-left: 15px;
    max-height: 44px;
    width: 100%;
    word-wrap: break-word;
    align-items: center;
    color: rgb(51, 51, 51);
}

.table-instruments-info-details-name {
    max-width: calc(100% - 20px);
    max-height: 37px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 5px;
}

.table-instruments-info-details-ticker {
    font-size: 11px;
    color: #666;
}

.table-instruments-price-details {
}

.table-instruments-price-details-delta {
    font-size: 13px;
}

.modal canvas {
    width: 100% !important;
    height: 500px !important;
}

@media screen and (max-width: 768px) {
    .list-view table .table {
        border: 0;
        margin-bottom: 0;
    }

        .list-view table.table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        .list-view table.table tr {
            border: 1px solid #d3d2d2;
            display: block;
            margin-bottom: .6em;
        }

            .list-view table.table tr:last-child {
                margin-bottom: 0;
            }

        .list-view table.table td {
            border-bottom: 0;
            display: block;
            text-align: right;
            padding: .4rem;
        }

            .list-view table.table td::before {
                content: attr(data-label);
                float: left;
                font-style: italic;
                font-size: .8rem;
            }

            .list-view table.table td:last-child {
                border-bottom: 0;
            }
}
