body, table td {
    color: #000000;
}

.btn-table-action {
    width: 120px;
}

.webgrid-editColumn, .webgrid-deleteColumn {
    width: 120px;
}

.card {
    border-color: #acaaaa;
}

.card-body label {
    font-weight: bold;
}

.card-validation .card-body {
    padding: 0px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 2px solid #b94a48;
}


select.input-validation-error {
    border: 2px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

#accountBalanceCircleChart, #balanceAndInvestmentCircleChart {
    height: 380px;
}
