@using FamilyBudget.Www.App_Helpers
@model FamilyBudget.Www.Models.Widgets.ExpenditureByCategoryWidgetModel
<div class="col-md-12">
    <div class="col-md-6">
        <div class="form-group">
            @Html.ExtendedDropDownListFor(m => m.SelectedAccountId, Model.Accounts, null, new
    {
        @class = "form-control",
        id = "expenditure-by-category-current-month-account-selector"
    })
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <button class="btn btn-info" onclick=" ExpenditureByCategoryCurrentMonthCallback() "><span class="glyphicon glyphicon-refresh"></span> Обновить</button>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div id="morris-bar-chart-expenditure-by-category-current-month"></div>
</div>

<script type="text/javascript">
    function ExpenditureByCategoryCurrentMonthCallback() {
        var accountSelectorId = 'expenditure-by-category-current-month-account-selector';
        var containerId = 'morris-bar-chart-expenditure-by-category-current-month';
        $(document.getElementById(containerId)).html('');
        var selectedAccountId = $('#@Model.WidgetClientId').find('#' + accountSelectorId + ' option:selected').val();

        if (selectedAccountId) {
            $.ajax({
                type: "POST",
                data: { accountId: selectedAccountId },
                url: "/Home/Widget_ExpenditureByCategoryCurrentMonthData",
            })
                .done(function (reportData) {
                    Morris.Bar({
                        element: containerId,
                        data: reportData,
                        xkey: 'category',
                        ykeys: ['total'],
                        labels: ['Категория'],
                        hideHover: 'auto',
                        resize: true
                    });
                });
        }
    }
</script>
