@using FamilyBudget.Www.App_Helpers
@model FamilyBudget.Www.Models.Widgets.ExpenditureIncomeCompareWidgetModel
<div class="col-md-12">
    <div class="col-md-6">
        <div class="form-group">
            @Html.ExtendedDropDownListFor(m => m.SelectedAccountId, Model.Accounts, null, new
            {
                @class = "form-control",
                id = "expenditure-income-compare-account-selector"
            })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.TextBoxFor(model => model.StartDate, Model.StartDate.ToShortDateString(), new { id = "StartDate", name = "StartDate", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            @Html.TextBoxFor(model => model.EndDate, Model.EndDate.ToShortDateString(), new { id = "EndDate", name = "EndDate", @class = "form-control" })
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <button class="btn btn-primary" onclick=" ExpenditureIncomeCompareCallback() "><span class="glyphicon glyphicon-refresh"></span> Обновить</button>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div id="morris-bar-chart-expenditure-income-compare"></div>
</div>

<script type="text/javascript">
    $(function () {
        $('#StartDate, #EndDate').datetimepicker({
            language: 'ru',
            pickTime: false
        });
    });

    function ExpenditureIncomeCompareCallback() {
        var accountSelectorId = 'expenditure-income-compare-account-selector';
        var containerId = 'morris-bar-chart-expenditure-income-compare';
        $(document.getElementById(containerId)).html('');
        var selectedAccountId = $('#@Model.WidgetClientId').find('#' + accountSelectorId + ' option:selected').val();
        var selectedStartDate = $('#@Model.WidgetClientId').find('#StartDate').val();
        var selectedEndDate = $('#@Model.WidgetClientId').find('#EndDate').val();

        if (selectedAccountId) {
            $.ajax({
                type: "POST",
                data: { accountId: selectedAccountId, startDate: selectedStartDate, endDate: selectedEndDate },
                url: "/Home/Widget_ExpenditureIncomeCompareData",
            })
                .done(function (reportData) {
                    Morris.Bar({
                        element: containerId,
                        data: reportData,
                        xkey: 'period',
                        ykeys: ['expenditure', 'income'],
                        labels: ['Расходы', 'Доходы'],
                        hideHover: 'auto',
                        resize: true
                    });
                });
        }
    }
</script>
