@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-12">
        
        <form asp-controller="Account" asp-action="Index" method="post">
            <input value="Artem" type="text" name="userName" id="userName"/>
            Login as Artem: <input type="submit" value="Sign in as Artem"/>
        </form>

    </div>
</div>
