@using FamilyBudget.v3.App_CodeBase.Widgets
@model FamilyBudget.v3.Models.ChartsModel

@Scripts.Render("~/bundles/widget-engine")
@Scripts.Render("~/bundles/ladda")
@Scripts.Render("~/bundles/morris")
<script src="~/Scripts/plugins/morris/raphael-2.1.0.min.js"></script>

<div class="container-fluid">
    <div class="row">
        @foreach (Widget widget in Model.Widgets)
        {
            @Html.Partial("_Widget", widget)
        }
    </div>
</div>
<script type="text/javascript">
    var widgets;

    function getWidgetDefinitions() {
        $.get("/Charts/GetWidgetDefinitions", function (data) {
            widgets = data;
            loadWidgets(data);
        });
    }

    function getWidgetById(id) {
        if (widgets) {
            for (var i = 0; i < widgets.length; i++) {
                if (widgets[i].id == id) {
                    return widgets[i];
                }
            }
        }
        return null;
    }

    function refreshWidget(widget) {
        var widgets = [];
        widgets.push(widget);
        loadWidgets(widgets);
    }

    $(function () {
        getWidgetDefinitions();
    });
</script>
