@model FamilyBudget.v3.Models.Widgets.AccountBalanceCircleWidgetModel
<div class="col-md-12">
    <div class="text-center" id="accountBalanceCircleLoading">
        @Html.Partial("_LoadingIndicator")
    </div>
    <canvas id="accountBalanceCircleChart"></canvas>
</div>

<script type="text/javascript">
    $(function () {

        $.ajax(
            {
                type: "POST",
                url: "/Charts/Widget_AccountBalanceCircleData"
            })
            .done(function (reportData) {
                $('#accountBalanceCircleLoading').hide();
                buildAccountBalanceChart(reportData);
            });
    });

    function buildAccountBalanceChart(reportData) {
        var ctx = document.getElementById("accountBalanceCircleChart");
        new Chart(ctx, {
            type: 'doughnut',
            data: {
            labels: _.map(reportData, function (r) {
                return r.name  + " (" + r.percent + "%)";
            }),
            datasets: [{
                data: _.map(reportData, function (r) {
                    return (r.equivalent + "").replace(/\s/g, '');
                }),
                backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc'],
                hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf'],
                hoverBorderColor: "rgba(234, 236, 244, 1)",
            }],
            },
            options: {
            maintainAspectRatio: false,
            tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
            },
            legend: {
                display: true
            },
            cutoutPercentage: 50,
            },
        });
    }

</script>
