@using FamilyBudget.v3.App_Helpers
@model FamilyBudget.v3.Areas.Administration.Models.IncomeCategoryListModel

@{
    string returnParameters = QueryStringParser.EncodeGridParameters(Model.PageIndex, Model.SortField, Model.SortDirection);
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="text-center mb-4">
        <h1 class="h3 mb-0 text-gray-800 font-weight-bold">Категории доходов</h1>
    </div>

    <div class="row list-view">
        <div class="col-lg-12 mb-3">
            @Html.ActionLink("Создать категорию доходов", "Create", new { returnParams = @returnParameters }, new { @class = "btn btn-primary pull-right" })
        </div>
        <div class="col-lg-12">
            @{
                if (Model != null)
                {
                    <div class="card mb-4">
                        <div class="card-body">
                            @{
                                WebGrid grid = WebGridHelpers.CreateWebGridWithJqueryUiStyle(Model.Entities, rowsPerPage: Model.PageSize, canPage: true, canSort: true, defaultSort: "IncomeDate");
                                @grid.GetHtmlJqueryUiStyle(mode: WebGridPagerModes.All, showNoDataFound: true,
                                    columns: grid.Columns(
                                        grid.Column("Name", "Категория", item => Html.Raw("<span class=\"d-none\">Категория</span>" + item.Name)),
                                        grid.Column("Description", "Описание", item => Html.Raw("<span class=\"d-none\">Описание</span>" + item.Description)),
                                        grid.Column(style: "webgrid-editColumn", format: @<a href="@Url.Action("Edit", "IncomeCategory", new { id = item.ID, returnParams = @returnParameters })" class="btn btn-info btn-circle"><i class="far fa-edit"></i></a>),
                                        grid.Column(style: "webgrid-deleteColumn", format: @<a href="@Url.Action("Delete", "IncomeCategory", new { id = item.ID, returnParams = @returnParameters })" class="btn btn-danger btn-circle"><i class="far fa-trash-alt"></i></a>)
));
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    applyResponsiveTableRoutines('table');
</script>